fastapi==0.115.6
uvicorn==0.32.1
python-dotenv==1.0.1
motor==3.6.0
pymongo==4.10.1
google-generativeai==0.8.3
httpx==0.28.1
pydantic==2.10.3
mistralai==1.2.4
google-cloud-firestore==2.20.0
google-cloud-core==2.4.1
google-auth==2.36.0
